<!--Section: Magazine v.1-->
<section class="text-center">
  <!--Section heading-->
  <h2 class="h1 text-center my-5 font-weight-bold">Trending Jokes</h2>
  <!--Section description-->
  <p class="grey-text pb-5">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <!--Grid row-->
  <div class="row text-left">
    <!--Grid column-->
    <!--<div *ngFor="let post of posts" class="col-lg-6 col-md-12">-->
      <!--<app-post [post]="post"></app-post>-->
    <!--</div>-->
    <!--Grid column-->
  <p>Hello world!</p>
  </div>
  <!--Grid row-->
</section>
<!--/Section: Magazine v.1-->
